<h1>Hello {{name}}</h1>
<p>Welcome to My App! Now your email will be safe. We just need to make sure your account is real.</p>
<p>Please verify your account with this verification code:{{verification.code}}</p>