<!DOCTYPE html>  
<html>  
<head>  
<title>Reset Password</title>  
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>  
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
</head>  
<body>  
    <h4 class="postdata" style="text-align:center;"></h4>  
    <div class="main-agileits">  
        <h2 class="sub-head">Reset Password</h2>  
        <div class="sub-main">      
            <form method="post">  
                <span class="senddata"></span><br><br>  

                <input placeholder="Enter Password" name="password" class="password" type="password" required=""><br><br>  

                <input placeholder="Confirm Password" name="confirmpassword" class="confirmpassword" type="password" required=""><br><br>  

                <input type="submit" name ="submit" value="RESET PASSWORD">  

            </form>  
        </div>  
    </div>  
</body>  
</html>  


<script type="text/javascript">  

$( document ).ready(function() {
    $("input[name='submit']").on("click", function(){  
        $(".senddata").html("");  
        var url = window.location.href;  
        var password = $('.password').val();  
        var confirmpassword = $('.confirmpassword').val();  

        if( password == confirmpassword){  
            $.post(url,{password : password,token:"{{token}}"},function(result,status){  
            var msg = result.status;  
            var msgdata = result.message;  
            if(msg == 200){  
                console.log('done');
                $(".postdata").html(msgdata);  
                $(".main-agileits").css("display","none")  
            }else{  
                return false;  
            }  
        });  
        }else{  
            $(".senddata").html("Passwords did not match");  
        }         
        return false;  
    });  

});  

</script> 